    <ion-row *ngFor="let homepageArticles of final">

        <ion-col  *ngFor="let article of homepageArticles"  sizeXs="12" sizeMd="4" >
            <ion-card style="height: 365px">
                <ion-item class="ion-align-items-center"><!-- style=" align-content: center"-->
                    <ion-img class="ion-justify-content-center" style="height:200px; width:250px; padding: 1em;"
                             [src]='article.awsUrl'>
                    </ion-img>
                </ion-item>
                <ion-card-header style="background-color: {{article.color}}">
                    <a href="topic/{{article.category}}" style="text-decoration : none; color: white">
                        <b>{{article.category}}</b>
                    </a>
                </ion-card-header>
                <ion-card-content style="padding-top: 10px">
                    <ion-card-title>
                        <a href="threads/{{article.slug}}" style="text-decoration: none; color: black;">
                            <h2>{{article.title.toUpperCase()}}</h2>
                            <h4>
                                {{article.intro}}
                            </h4>
                        </a>

                    </ion-card-title>
                    <small>
                        {{article.location}},
                        {{ article.published_at | date : "dd MMM y" }}
                    </small>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

