<ion-toolbar color="">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-row>
    <ion-col class="ion-text-center" offset-md="4" size-md="4" size-xs="10" size-lg="4" style="">
      <a routerLink="/" style="max-height: 45px !important; max-width: 100px !important;  ">
        <ion-img alt="" slot="center" src="assets/logo/ybjSmall.jpg" >
        </ion-img>
      </a>

      <h6  class="ion--text-center" style="">A weekly business news website</h6>
      <small class="ion--text-center" style="margin-top:0px">{{date | date:'fullDate'}}</small>
    </ion-col>
  </ion-row>
</ion-toolbar>
