<ion-header [translucent]="false">
    <ion-toolbar class="toolbar" style="z-index: -1;">

        <ion-buttons slot="end">

        </ion-buttons>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col offsetXl="2" sizeSm="12" sizeXl="6">
                <ion-list *ngFor="let post of posts | paginate: { itemsPerPage: 8, currentPage: cp }" lines="full">
                    <ion-item lines="full">
                        <ion-label>
                            <h3>{{post.title}}</h3>
                            <a href="/dashboard/home/posts/edit/{{post._id}}">/dashboard/home/posts/edit/{{post._id}}</a>
                            <br>
                            <p>{{post.intro}}</p>
                            <p [style.color]="isPublished(post) ? 'green' : 'red'" slot="right">
                                {{!isPublished(post) ? 'To be' : ''}} published
                                on: {{post.published_at  | date: 'dd/MM/yyyy'}}
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col offset="4" style="padding-bottom: 4em;">
                <pagination-controls (pageChange)="cp = $event" maxSize="7"></pagination-controls>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
