<ion-header [translucent]="true">
  <app-header-title></app-header-title>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col *ngFor="let article of categoryArticles"  sizeLg="6" sizeMd="6" sizeXs="12">
        <ion-card style=" padding-bottom: 10px">
          <!--          <ion-item style=" align-content: center" >-->
          <ion-grid>
            <ion-row>
              <ion-col sizeLg="6" sizeXs="12">
                <ion-img [src]='article.awsUrl'
                         style="height:150px">
                </ion-img>
              </ion-col >
              <ion-col sizeLg="6" sizeXs="12">
                <!--          </ion-item>-->
                <ion-card-header>
                </ion-card-header>
                <ion-card-content>
                  <ion-card-title>
                    <a href="threads/{{article.slug}}" style="text-decoration: none; color: black;">
                      <h2>{{article.title.toUpperCase()}}</h2>
                    </a>
                    <h4>
                      {{article.intro}}
                    </h4>
                  </ion-card-title>
                  <small>
                    {{article.location}},
                    {{ article.published_at | date : "dd MMM y" }}
                  </small>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
