<ion-header>
    <ion-toolbar>
        <ion-title>home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col size="12" size-sm="12">
            </ion-col>
            <ion-col class="ion-text-lg-right" size="12" size-sm="12">
                <ion-button (click)="redirectTo('/admin/posts/home')" color="primary" size="large">
                    <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                    Add New Post
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" size-sm="12">

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
