#customPadding {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 3.5;
}

.banner {
  padding: 15px;
  text-align: center;
  line-height: 1.2;
  color: white;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.89)
}

;
ion-card-content p {
  margin: 0 0 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
}

;
.sb-moon-theme {
  // share button wrapper
  .sb-wrapper {
    // You can get default button color using the CSS variable
    background-color: black;
    // Content wrapper
    .sb-content {
      // Icon wrapper
      .sb-icon {
      }

      // Text wrapper
      .sb-text {
      }
    }

    // For conditional styles
    // E.g. Apply when icon, text are shown
    &.sb-show-icon.sb-show-text {
      // Icon wrapper
      .sb-icon {
      }

      // Text wrapper
      .sb-text {
      }
    }
  }
}
