<ion-header [translucent]="true">
    <app-header-title></app-header-title>
</ion-header>


<ion-content *ngFor="let article of articleThread">
    <!-- entity_wrapper -->
    <ion-grid>
        <ion-row>
            <ion-col sizeSm="12" sizeXl="6" offsetXl="2">
                <ion-card style="box-shadow: none;">
                    <ion-card-header class="ion-no-padding">
                        <ion-card-title>

                            <ion-img [src]='article.awsUrl' style="align-items: center; max-width:30%">
                            </ion-img>
                        </ion-card-title>

                        <ion-card-subtitle>
                            <a href="{{article.url}}" target="_blank" style="text-decoration: none; color: black;">
                                <h2>{{article.title}}</h2>
                            </a>
                            <h4>{{article.intro}}
                                <br>
                                <small>{{article.location}},
                                    {{ article.created_at | date : "EEE, dd MMM" }}
                                </small>
                            </h4>
                            <br>
                        </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content class="customPadding ion-no-padding" [innerHTML]="htmlSnippet">

                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col class="hidden-lg" style="margin-top: 20px" sizeLg="2" sizeXs="12">
                <div class="banner" style="">
                    <div class="banner-content">
                        <p style="font-size: 12pt; text-align: center;padding: 20px;">
                            We are looking for businesses to interview.</p>
                        <a href="/contact" class="btn btn-default">CONTACT US</a><br><br>
                        <p style="font-size: 10pt; text-align: center;padding: 20px 0px;">Please contact us and increase
                            your company online visibility
                        </p>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col offsetXl="2" sizeLg="6" sizeXs="12">
                <share-buttons show="3" theme="moon"
                ></share-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
