<ion-header [translucent]="true">
    <app-header-title></app-header-title>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col offsetXl="2" sizeXl="8"  style="padding-top: 10em;">
              <form class="form-signin" [formGroup]="signIn" (ngSubmit)="loginUser()">
                <ion-item lines="full">
                  <ion-label position="floating">Email</ion-label>
                  <ion-input type="email" formControlName="email" required></ion-input>
                </ion-item>

                <ion-item lines="full">
                  <ion-label position="floating">Password</ion-label>
                  <ion-input type="password" formControlName="password" required></ion-input>
                </ion-item>

                <ion-row>
                  <ion-col>
                    <ion-button type="submit" color="danger" expand="block" >Sign In
                    </ion-button>
                  </ion-col>
                </ion-row>
              </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
