<ion-menu side="start" menuId="first" contentId="main-content" persistent=true>
    <ion-header>
        <ion-buttons class="ion-color-dark" slot="start">
            <ion-menu-button auto-hide="true"></ion-menu-button>
        </ion-buttons>
    </ion-header>
    <ion-content>
        <ion-list id="inbox-list">
            <!--      <ion-list-header>Schedule Tasks</ion-list-header>-->
            <!--      <ion-note></ion-note>-->

            <ion-menu-toggle *ngFor="let p of menuPages" auto-hide="false">
                <ion-item (click)="selectedIndex = i" *ngIf="p.hide==0" [routerLink]="[p.url]" detail="false"
                          lines="" routerDirection="root">
                    <ion-label>{{ p.name }}</ion-label>
                </ion-item>
                <!--                <ion-item routerLink="/">Home</ion-item>-->
                <!--                <ion-item routerLink="/ConsumerIndustrial">Consumer Industrial</ion-item>-->
                <!--                <ion-item routerLink="/RealEstate">Real Estate</ion-item>-->
                <!--                <ion-item routerLink="/LawFinancial">Law Financial</ion-item>-->
                <!--                <ion-item routerLink="/Technology">Technology</ion-item>-->
                <!--                <ion-item routerLink="/Academia">Universities</ion-item>-->
                <!--                <ion-item routerLink="/HumanResources">Human Resources</ion-item>-->
                <!--                <ion-item routerLink="/Services">Services</ion-item>-->
                <!--                <ion-item routerLink="/Marketing">Marketing</ion-item>-->
                <!--                <ion-item routerLink="/HealthCare">HealthCare</ion-item>-->
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>
