<ion-header>
    <ion-toolbar>
        <ion-title>edit-post</ion-title>
        <ion-buttons slot="start">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="dashboard/home/posts/view"></ion-back-button>
            </ion-buttons>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
    <ion-grid>
        <form (ngSubmit)="submitForm()" [formGroup]="ionicForm" novalidate style="padding-bottom: 2em">
            <ion-row>
                <ion-col size="8" sizeLg="8" sizeMd="12" sizeXs="12">
                    <ion-row>
                        <ion-col sizeXl="12">
                            <ion-item>
                                <ion-label position="stacked">Title</ion-label>
                                <ion-input formControlName="title" required
                                           type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col sizeXl="12">
                            <ion-item>
                                <ion-label position="stacked">Description</ion-label>
                                <ion-input formControlName="intro" required type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col sizeXl="12">
                            <ion-item>
                                <ion-label position="stacked">URL</ion-label>
                                <ion-input formControlName="url" required type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="EditorHeight" sizeXl="12">
                            <quill-editor #editor (onContentChanged)="onContentChanged($event)"
                                          (onEditorCreated)="onEditorCreated($event)" [maxLength]="360"
                                          formControlName="body"
                                          id="editor" theme="snow"
                                          trackChanges="all">
                            </quill-editor>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col size="4" sizeLg="4" sizeMd="12" sizeXs="12">
                    <ion-row>
                        <ion-col sizeXl="12">
                            <ion-item>
                                <ion-label>Select if article is visible</ion-label>
                                <ion-select formControlName="visible">
                                    <ion-select-option value="1">Yes</ion-select-option>
                                    <ion-select-option value="0">No</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col sizeXl="12">
                            <ion-item>
                                <ion-label>Select Location</ion-label>
                                <ion-select class="overflow: auto !important;" formControlName="location"
                                            placeholder="Select Location">
                                    <ion-select-option *ngFor="let location of locations | async"
                                                       [value]="location.id">{{ location.name }}
                                    </ion-select-option>

                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col sizeXl="12">
                            <ion-item>
                                <ion-label>Select Category</ion-label>
                                <ion-select formControlName="category">
                                    <ion-select-option *ngFor="let category of categories"

                                                       [value]="item.id">{{ item.name }}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col sizeXl="12">
                            <ion-item>
                                <ion-label>Select Publish Date</ion-label>
                                <ion-datetime displayFormat="DDDD,D-MMMM-YYYY" first-day-of-week="1"
                                              formControlName="publish" locale="en-GB"
                                              pickerFormat="DDDD,D-MMMM-YYYY">
                                </ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col sizeXl="12">
                            <ion-item>
                                <ion-img src="{{this.post.awsUrl}}"></ion-img>
                                <ion-label>image</ion-label>
                                <input (change)="onFileChange($event)" formControlName="image" type="file">
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col sizeXl="12">
                            <ion-button color="danger" expand="block" type="submit">
                                Submit
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>

</ion-content>


