.content {
  --ion-background-color: whitesmoke;
  color: black;
}

ion-item {
  --background: ghostwhite;
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 2px;
  white-space: pre-wrap;
}

.time {
  color: white;
  float: right;
  font-size: smaller;
}

.message-wrapper {
  padding-top: 0.3em;
}

.live-data-preview-wrapper {
  padding-right: 1em;
  //background-image: url('../../../../assets/android-phone-frame.png');
  //background-size:     cover;                      /* <------ */
  //background-repeat:   no-repeat;
  //background-position: center center;
}

.editor-counter {
  padding-top: 1em;
}

p {
  // layout
  position: relative;
  max-width: 30em;

  // looks

  background-color: var(--ion-color-tertiary-shade);
  color: white;
  padding: 1.125em 1.5em;
  font-size: 1.25em;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

p::before {
  // layout
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 1.5em; // offset should move with padding of parent
  border: .75rem solid transparent;
  border-top: none;

  // looks
  border-bottom-color: var(--ion-color-tertiary-shade);
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

// dressing
html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #192229;
  background: linear-gradient(135deg, #F4F2F3, #BFC6D0);
}

html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  padding: 0 2rem;
}
