<ion-header>
    <ion-toolbar>
        <ion-title>add</ion-title>
        <ion-buttons slot="start">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="post/view"></ion-back-button>
            </ion-buttons>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
    <ion-grid>
        <form (ngSubmit)="submitForm()" [formGroup]="ionicForm" novalidate style="padding-bottom: 2em">
            <ion-row>
                <ion-col size="8" sizeLg="8" sizeMd="12" sizeXs="12">
                    <ion-row>
                        <ion-col sizeXl="12">
                            <ion-item>
                                <ion-label position="stacked">Title</ion-label>
                                <ion-input formControlName="title" required type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col sizeXl="12">
                            <ion-item>
                                <ion-label position="stacked">Description</ion-label>
                                <ion-input formControlName="intro" required type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col sizeXl="12">
                            <ion-item>
                                <ion-label position="stacked">URL</ion-label>
                                <ion-input formControlName="url" required type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="EditorHeight" sizeXl="12">
                            <ckeditor [editor]="Editor" data="" formControlName="editor">

                            </ckeditor>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col size="4" sizeLg="4" sizeMd="12" sizeXs="12">
                    <ion-row>
                        <ion-col sizeXl="12">
                            <ion-item>
                                <ion-label>Select if article is visible</ion-label>
                                <ion-select formControlName="visible">
                                    <ion-select-option value="1">Yes</ion-select-option>
                                    <ion-select-option value="0">No</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col sizeXl="12">
                            <ion-item>
                                <ion-label>Select Location</ion-label>
                                <ion-select class="overflow: auto !important;" formControlName="location">
                                    <ion-select-option *ngFor="let location of locations"
                                                       value="{{location._id}}">{{location.name}}</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col sizeXl="12">
                            <ion-item>
                                <ion-label>Select Category</ion-label>
                                <ion-select formControlName="category">
                                    <ion-select-option *ngFor="let category of categories"
                                                       value="{{category._id}}">{{category.name}}</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col sizeXl="12">
                            <ion-item>
                                <ion-label>Select Publish Date</ion-label>
                                <ion-datetime displayFormat="DDDD,D-MMMM-YYYY" first-day-of-week="1"
                                              formControlName="publish" locale="en-GB" pickerFormat="DDDD,D-MMMM-YYYY"
                                              value="{{this.nextPublishDate}}">
                                </ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col sizeXl="12">
                            <ion-item>
                                <ion-label>image</ion-label>
                                <input (change)="onFileChange($event)" formControlName="image" type="file">
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col sizeXl="12">
                            <ion-button [disabled]="!ionicForm.valid" color="danger" expand="block" type="submit">
                                Submit
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>

</ion-content>

