:host ::ng-deep .ck-editor__editable_inline {
  min-height: 300px;
}

ion-select {
  overflow: auto !important;
}

@media screen and (max-width: 768px) {
  body, p, ion-item, form {
    font-size: 12px;
    padding: 0em;
  }
}
