<ion-header [translucent]="true">
<app-header-title></app-header-title>
</ion-header>

<ion-content class="ion-padding" fullscreen>

  <ion-grid>
    <ion-row>
      <ion-col offsetXl="2" sizeXl="8">
          <!--        <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>-->

          <app-article-card></app-article-card>
      </ion-col>
    </ion-row>
  </ion-grid>


<!--    <ion-grid>-->
<!--      <ion-row>-->
<!--        <ion-col align-self-center>-->

<!--          <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>-->
<!--        </ion-col>-->
<!--      </ion-row>-->
<!--    </ion-grid>-->
</ion-content>

